.toggle_button_div {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25px;
    width: 30px;
    cursor: pointer;
    z-index: 7;    
    background: transparent;
  }
  .toggle_button_div  div{
    
    width: 30px;
    height: 3px;
    background-color:azure; 
    transition:all 0.4s ease-in; 
}
.toggle_button_div.close div{
    transition:all 0.4s ease;

}
.toggle_button_div.close .toggle_button_line1 {
    transform: translate(0px,0px) rotate(-225deg) translate(5px,-4px);
    
}
.toggle_button_div.close .toggle_button_line2{
display: none;
}
.toggle_button_div.close .toggle_button_line3 {
    transform: translate(0px,0px) rotate(225deg) translate(5px,4px);   
}