.main-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-right: 0;
    z-index: 4;
    background-color:rgba(0, 0, 0, 0.2);    
}
.nav-logo{
    margin-left: 25px;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    list-style: none;

}
.nav-items li{
margin-right: 25px;
}
.toggle-button{
    height: 25px;
    width: 25px;
}
@media (min-width:769px){
    .toggle-button{
     display: none;
    }
}
@media (max-width:769px){
    .main-nav{
        justify-content: space-around;    
        height: 55px;
        background-color:rgba(0, 0, 0, 0.8);    
    }
    .nav-items li{
        display: none;
    }
    .nav-logo{
        margin-left: -35px;
    }
}