.main-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-right: 0;
    z-index: 4;
    background-color:rgba(0, 0, 0, 0.2);    
}
.nav-logo{
    margin: 8px 0 0 25px;

}
.logo_svg{
    height: 45px;
    width: 45px;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    list-style: none;

}
.nav-items li{
margin-right: 25px;
cursor: pointer;
}
.nav-items button{
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    color: #bdd9d9;
    border: transparent;
    background: transparent;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
    
}
.toggle-button{
    height: 25px;
    width: 25px;
}
@media (min-width:769px){
    .toggle-button{
     display: none;
    }
}
@media (max-width:769px){
    .main-nav{
        justify-content: space-around;    
        height: 55px;
        background-color:rgba(0, 0, 0, 0.8);    
    }
    .nav-items li{
        display: none;
    }
    .nav-logo{
        margin-left: -35px;
    }
}