.about_main{
    margin: 0;
    padding: 0;
    height:87vh;
    margin: 0 13% 0 13%;
    background:transparent;
}
.about_content{
    padding-top: 20px;
}
.about_title h2{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: clamp(26px,5vw,32px);
  }

.h_4{
    font-size: 16px;
}
.techs_work{
    font-size: 16px;
    word-spacing: 30px;
}

h2::before,
h2::after {
    display: inline-block;
    content: "";
    border-bottom: .1rem solid;
    width:  clamp(4.1rem, 12vw, 12rem);
    margin: 0 0.8rem;
    transform: translateY(-0.5rem);
}
@media only screen and (max-width: 769px) {
    
    .about_main{
        margin: 0 3% 0 3%;
        height: 90vh;
    }
    .about_title h2{
        padding-top: 0px;
        text-align: center;
      }
 }