.main_side_div 
{
width: 20px;
margin:2;
height:2000px;
}

.icon-bar 
{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  animation: fade-in linear 2s;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  font-size: 20px;
}

.icon-bar a:hover {
  transform: scale(1.1); 
}
.content {
  margin-left: 75px;
  font-size: 30px;
}

@media only screen and (max-width: 769px){
    .main_side_div 
    {
    display: none;
    }   
}